// Main
$red: #DB002E;
$blue: #002E60;

// Gradients
$gradRedLeft: $red; // 135dec, 40%, 100%
$gradRedRight: #FF577A;
$gradBlueLeft: $blue; // 135dec, 40%, 100%
$gradBlueRight: #475A8F;

// Secondary
$blueSec: #475A8F;

// Greyscale
$grey1: #000000;
$grey2: #4C4C4C;
$grey3: #7F7F7F;
$grey4: #E0E0E0;


// Text
$text: $grey1;

// Header
$headerBg: #FFFFFF;

// Home
$homeBg1: #FFFFFF;
$homeBg2: #ECEEF0;





// input.text
$emptyInputBg: #F9F9F9;
$selectedInputBg: #FFFFFF;

$emptyInputBorder: $grey4;
$hoverInputBorder: $grey3;
$selectedInputBorder: $blue;

// button
$buttonText: #FFFFFF;
$buttonBg: $red;
$buttonHoverBg: #C50029;

// button.add
$buttonAddText: $blue;
$buttonAddBg: #FFFFFF;
$buttonAddBorder: $blue;

// div.filter_bar
$filterBarText: $blue;
$filterBarBorder: $blue;

// div.search_bar
$searchBarBg: #F9F9F9;
$searchBarBorder: $grey4;
$searchBarText: #7F7F7F;
$searchBarTextPHolder: $grey4;

// div.switch_help
$switchHelpBg: #F9F9F9;
$switchHelpBorder: $grey4;
$switchHelpText: $red;
$switchHelpSelectedBg: $red;
$switchHelpSelectedText: #FFFFFF;

// div.card
$cardBorder: $grey4;
$offerBG: #F9F9F9;
$offerBorder: $grey4;
$offerText: #7F7F7F;


