
$icon-ic-arrow-down-width: 10px;
$icon-ic-arrow-down-height: 6px;
$icon-ic-arrow-right-width: 6px;
$icon-ic-arrow-right-height: 10px;
$icon-ic-arrow-up-width: 10px;
$icon-ic-arrow-up-height: 6px;
$icon-ic-logo-width: 282px;
$icon-ic-logo-height: 28px;
$icon-ic-monitor-width: 24px;
$icon-ic-monitor-height: 23px;
$icon-ic-plus-width: 23px;
$icon-ic-plus-height: 23px;
$icon-ic-search-width: 19px;
$icon-ic-search-height: 19px;
$icon-ic-sort-width: 13px;
$icon-ic-sort-height: 16px;
$icon-ic-white-arrow-down-width: 12px;
$icon-ic-white-arrow-down-height: 7px;
$icon-ic-white-arrow-up-width: 12px;
$icon-ic-white-arrow-up-height: 7px;

.svg-symbol--ic-arrow-down {
  width: $icon-ic-arrow-down-width;
  height: $icon-ic-arrow-down-height;
}

.svg-symbol--ic-arrow-right {
  width: $icon-ic-arrow-right-width;
  height: $icon-ic-arrow-right-height;
}

.svg-symbol--ic-arrow-up {
  width: $icon-ic-arrow-up-width;
  height: $icon-ic-arrow-up-height;
}

.svg-symbol--ic-logo {
  width: $icon-ic-logo-width;
  height: $icon-ic-logo-height;
}

.svg-symbol--ic-monitor {
  width: $icon-ic-monitor-width;
  height: $icon-ic-monitor-height;
}

.svg-symbol--ic-plus {
  width: $icon-ic-plus-width;
  height: $icon-ic-plus-height;
}

.svg-symbol--ic-search {
  width: $icon-ic-search-width;
  height: $icon-ic-search-height;
}

.svg-symbol--ic-sort {
  width: $icon-ic-sort-width;
  height: $icon-ic-sort-height;
}

.svg-symbol--ic-white-arrow-down {
  width: $icon-ic-white-arrow-down-width;
  height: $icon-ic-white-arrow-down-height;
}

.svg-symbol--ic-white-arrow-up {
  width: $icon-ic-white-arrow-up-width;
  height: $icon-ic-white-arrow-up-height;
}

