footer{

  .footer-platform{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 339px;
    padding: 0 230px;
    border-top: 1px solid $grey4;
    @media only screen and (max-width: $max-lg) {
      flex-direction: column;
      justify-content: center;
      padding: 0 50px;
    }

    img{
      @media only screen and (max-width: $max-sm){
        width: 150px;
      }
    }

    img:first-of-type{
      margin-right: 141.5px;
      @media only screen and (max-width: $max-xl) {
        margin-right: 50px;
      }
    }

    h2{
      max-width: 430px;

      @media only screen and (max-width: $max-lg) {
        text-align: center;
        max-width: none;
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 40px;
      }
      @media only screen and (max-width: $max-sm){
        font-size: 20px;
      }
    }
  }


  .footer-bottom{
    background: #F9F9F9;
  }

  .footer-bar{
    height: 83px;
    background: #F9F9F9;

    .footer-bar-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 0 230px;
      @media only screen and (max-width: $max-md-extra) {
        padding: 0 100px;
      }
      @media only screen and (max-width: $max-md) {
        padding: 0 40px;
      }
      @media only screen and (max-width: $max-sm) {
        padding: 0 25px;
      }
      @media only screen and (max-width: $max-xs) {
        flex-direction: column;
        justify-content: center;
      }


      ul{
        display: flex;

        li{
          margin-right: 32px;
          @media only screen and (max-width: $max-sm) {
            margin-right: 16px;
          }
          &:last-of-type{
            margin-right: 0;
          }

          p{
            font-family: 'Soleil', sans-serif;
            font-weight: 300;
            color: $text;
            margin: 0;
            @media only screen and (max-width: $max-sm) {
              font-size: 12px;
            }
            @media only screen and (max-width: $max-xs) {
              margin: 10px 0 10px 0;
            }
          }
        }
      }

      .created{
        display: flex;
        align-items: center;

        p{
          font-family: 'Soleil', sans-serif;
          font-weight: 300;
          color: #AAAAAA;
          margin-bottom: 0;
          margin-right: 10px;
          @media only screen and (max-width: $max-sm) {
            font-size: 12px;
          }
        }

        img{
          transform: translateY(-4px);
          @media only screen and (max-width: $max-sm) {
            width: 35px;
          }
        }
      }
    }
  }
}