 .header {
  position: fixed;
  width: 100%;
  height: 88px;
  background: $headerBg;
  z-index: 2;

  nav{
    height: 100%;
    padding: 0 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: $max-md-extra) {
      padding: 0 40px;
    }

    .menu-icon{
      display: none;
      cursor: pointer;
      @media only screen and (max-width: $max-md) {
        display: block;
      }
    }

    ul{
      display: flex;
      align-items: center;
      @media only screen and (max-width: $max-md) {
        display: none;
      }

      li{
        margin-right: 47px;

        a{
          h4{
            margin-bottom: 0;
          }
        }
      }

      :last-child{
        margin-right: 0;
      }
    }
  }
}