* {
  box-sizing: border-box;
}

body {
  min-width: 520px;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  &.fixed {
    overflow: hidden;
  }

}

main{
  padding-top: 88px;
  overflow: hidden;
}

.container{
  max-width: 1680px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;

  a{
    &:hover{
      text-decoration: none;
    }
  }
}


.easing {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.nopadding {
  padding: 0 !important;
}

.svgicons{
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
