.add-button{
  min-width: 209px;
  height: 59px;
  background: $buttonAddBg;
  border: 1px solid $buttonAddBorder;
  border-radius: 30px;
  margin: 0;
  padding: 18px 30px 18px 15px;


  font-family: 'Soleil', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: $buttonAddText;

  &:hover{
    background: $buttonAddBg;
  }

  // svg
  span:nth-of-type(1){
    position: relative;
    bottom: 3px;
    left: -5px;
  }

  // text
  span:nth-of-type(2){
    position: relative;
    right: -6px;
  }




  &.add-slim-button{
    width: 175px;
    height: 42px;
    padding: 10px 20px 10px 15px;

    font-size: 16px;
    font-weight: 400;


    // svg
    span:nth-of-type(1){
      bottom: 2px;

      svg{
        transform: scale(0.87);
      }
    }

    // text
    span:nth-of-type(2){
      right: -2px;
    }
  }
}