button{
  min-width: 118px;
  height: 60px;
  background: $buttonBg;
  border: none;
  border-radius: 30px;
  margin: 0;
  padding: 18px 30px 18px 30px;

  font-family: 'Soleil', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: $buttonText;

  &:hover{
    background: $buttonHoverBg;
  }

  span{
    transform: translateY(4px);
  }

  &.button-slim{
    width: 90px;
    height: 41px;
    padding: 10px 21px 10px 20px;

    font-size: 16px;
    font-weight: 400;
  }
}