.filter-bar-newest{
    display: flex;
    justify-content: space-between;

    height: 41px;
    border: 1px solid $filterBarBorder;
    border-radius: 30px;
    padding: 10px 15px 10px 20px;

    font-family: 'Soleil', sans-serif;
    font-size: 16px;
    color: $filterBarText;

    &:hover{
      cursor: pointer;
    }

  span{
    transform: translateX(-4px);

    //svg
    :first-of-type{
      position: relative;
      bottom: 2px;
      margin-right: 6px;
    }
  }
}