.search-bar{
  width: 307.67px;
  height: 40px;
  background: $searchBarBg;
  border: 1px solid $searchBarBorder;
  border-radius: 30px;
  padding: 10px 15px 10px 20px;

  font-family: 'Soleil', sans-serif;
  font-size: 16px;
  font-weight: 300;

  span{
    position: relative;
    bottom: 3px;
    left: -5px;
  }

  input{
    position: relative;
    bottom: 2px;
    left: 5px;

    width: 220px;
    border: none;
    background: none;
    color: $searchBarText;

    &::placeholder{
      color: $searchBarTextPHolder;
    }

    &:focus{
      outline: none;
    }
  }
}