.switch-help{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 359px;
  height: 56px;
  background: $switchHelpBg;
  border: 1px solid $switchHelpBorder;
  border-radius: 28px;

  div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 343px;
    height: 40px;

    span{
      flex: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      font-family: 'Soleil', sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: $switchHelpText;
      border-radius: 20px;

      &:hover{
        cursor: pointer;
      }

      &.switch-help-selected{
        background: $switchHelpSelectedBg;
        color: $switchHelpSelectedText;
      }
    }
  }
}