.card{
  width: 345px;
  height: 264px;
  border-radius: 12px;

  .card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px;
    height: 100%;
  }
}



.card-top{
  display: flex;
  justify-content: space-between;


  .card-ico{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;

    background: $gradBlueLeft;
    background: linear-gradient(135deg, $gradBlueLeft 40%, $gradBlueRight 100%);
    border-radius: 90%;
  }

  .card-offer{
    width: 74px;
    height: 25px;

    background: $offerBG;
    border: 1px solid $offerBorder;
    border-radius: 28px;

    font-family: 'Soleil', sans-serif;
    font-size: 12px;
    color: $offerText;

    transform: translateY(-8px) translateX(4px);

    span{
      position: relative;
      bottom: -5px;
      left: 8px;
    }
  }
}


.card-middle{
  margin-top: 24px;
  padding-right: 5px;

  p{
    margin-bottom: 0;
  }
}




.card-bottom{
  display: flex;
  align-items: center;

  div{
    transform: translateY(-4px);
  }

  h4{
    margin-bottom: 0;
    margin-left: 10px;
  }
}