.input-text{
  position: relative;
  width: 100%;


  label{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }


  input{
    width: 100%;
    height: 56px;
    background: $emptyInputBg;
    border: 1px solid $emptyInputBorder;
    border-radius: 12px;
    padding: 20px;

    &:hover{
      border: 1px solid $hoverInputBorder;
      cursor: pointer;
    }

    &:focus{
      background: $selectedInputBg;
      border: 1px solid $selectedInputBorder;
      outline: none;
    }
  }
}