p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: $grey3;
  line-height: 24px;

  &.medium{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $grey3;
    line-height: 20px;
  }
}