.s3{
  background: $homeBg1;

  .s3-content{
    background: $homeBg2;
  }
}


.s3-top{
  max-width: 1470px;
  margin: 0 auto;
  padding: 71px 0 90px 0;
  @media only screen and (max-width: $max-xl) {
    padding: 71px 20px 90px 20px;
  }

  .s3-demand{
    position: relative;
    max-width: 1470px;
    height: 249px;
    background: $gradBlueLeft;
    background: linear-gradient(135deg, $gradBlueLeft 40%, $gradBlueRight 100%);
    border-radius: 12px;
    padding: 79px 95px 0 95px;
    overflow: hidden;
    @media only screen and (max-width: $max-md) {
      padding: 49px 95px 0 95px;
    }
    @media only screen and (max-width: $max-sm) {
      padding: 35px 20px 0 20px;
    }



    img{
      position: absolute;
      right: 0;
      transform: translateY(-79px);

      @media only screen and (max-width: $max-md) {
        transform: translateX(50%) translateY(-49px);
      }
    }


    .s3-demand-content{
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media only screen and (max-width: $max-md) {
        flex-direction: column;
      }

      h2{
        text-align: center;
        margin-bottom: 13px;
        color: white;
        @media only screen and (max-width: $max-sm){
          font-size: 28px;
          margin-bottom: 5px;
        }
        @media only screen and (max-width: $max-xs) {
          font-size: 22px;
        }
      }
      p{
        text-align: center;
        margin-bottom: 0;
        font-family: 'Soleil', sans-serif;
        color: white;
        font-weight: 300;

        @media only screen and (max-width: $max-md) {
          margin-bottom: 20px;
        }
        @media only screen and (max-width: $max-sm){
          font-size: 16px;
          height: 48px;
        }
        @media only screen and (max-width: $max-xs) {
          font-size: 14px;
        }
      }
    }
  }
}
