.s2{

  .s2-content{

    background: $homeBg2;
    padding-top: 48px;
  }
}

.s2-top {
  padding: 0 20px;

  .s2-top-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 1470px;
    height: 297px;
    padding: 42px 45px 48px 45px;
    margin: 0 auto;
    background: $homeBg1;
    border-radius: 12px;
    @media only screen and (max-width: $max-md-extra) {
      height: auto;
    }

    .s2-top-text {

      @media only screen and (max-width: $max-md-extra) {
        text-align: center;
      }

      h1 {
        margin-top: 0;
        margin-bottom: 15px;

      }

      p {
        margin: 0;
      }
    }

    .s2-top-interface {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media only screen and (max-width: $max-md-extra) {
        flex-direction: column-reverse;
        margin-top: 42px;
      }


      .s2-top-filter {
        display: flex;

        div:first-of-type {
          margin-right: 15px;
        }
      }

      .search-bar {
        @media only screen and (max-width: $max-md-extra) {
          margin-bottom: 10px;
        }
      }

      .switch-help {

        @media only screen and (max-width: $max-md-extra) {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.s2-cards-top{
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1470px;
  margin: 34px auto 13px auto;
  @media only screen and (max-width: $max-xl) {
    max-width: 1095px;
  }
  @media only screen and (max-width: $max-md-extra) {
    max-width: 720px;
  }
  @media only screen and (max-width: $max-md){
    max-width: 343px;
  }

  p{
    margin-bottom: 0;
  }
}

.s2-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px 30px;
  align-items: center;
  justify-items: center;
  max-width: 1470px;
  margin: 0 auto;
  @media only screen and (max-width: $max-xl) {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1095px;
  }
  @media only screen and (max-width: $max-md-extra) {
    grid-template-columns: 1fr 1fr;
    max-width: 720px;
  }
  @media only screen and (max-width: $max-md){
    grid-template-columns: 1fr;
    max-width: 343px;
  }
}

.s2-cards-pagination{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 48px;
  margin: 48px auto 16px auto;

  ul{
    display: flex;

    li{
      display: flex;
      justify-content: center;
      align-items: center;

      width: 40px;
      height: 40px;
      border-radius: 90%;

      p{
        font-family: 'Soleil', sans-serif;
        font-weight: 300;
        color: $text;
        margin-bottom: 0;
      }

      &.active{
        background: $blue;
        margin: 0 5px;
        p{
          font-weight: 500;
          color: white;
        }
        &:hover{
          background: $blue;
          cursor: pointer;
        }
      }

      &:hover{
        background: $grey4;
        cursor: pointer;
      }
    }
  }

  .s2-cards-pagination-right{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border-radius: 90%;

    &:hover{
      background: $grey4;
      cursor: pointer;
    }
  }
}

.s2-cards-pagination-count{
  text-align: center;

  p{
    font-family: 'Soleil', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 0;
  }
}