.s5{
  background: $homeBg1;

  .s5-content{

  }
}

.s5-contact{
  display: flex;
  justify-content: center;
  padding-top: 138px;
  padding-bottom: 145px;

  @media only screen and (max-width: $max-lg) {
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
  }

  .s5-contact-text{
    margin-right: 125px;
    margin-left: 125px;
    @media only screen and (max-width: $max-lg) {
      text-align: center;
      margin-right: 0;
      margin-left: 0
    }

    h1{
      margin-top: 0;
      margin-bottom: 27px;

    }
    p{
      margin: 0;
      @media only screen and (max-width: $max-lg) {
        margin-bottom: 40px;
      }
    }
  }

.s5-contact-form{
  max-width: 595px;
  width: 100%;

  @media only screen and (max-width: $max-lg) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .input-text{
    margin-bottom: 24px;

  }

  button{
    margin-top: 24px;
  }
}


}
