.s4{
  background: $homeBg1;

  .s4-content{
    background: $homeBg2;
  }
}



.s4-faq{
  .s4-faq-content{

    h1{
      text-align: center;
      margin-top: 0;
      margin-bottom: 51px;

      @media only screen and (max-width: $max-md) {
        font-size: 38px;
      }
      @media only screen and (max-width: $max-xs){
        font-size: 26px;
        margin-bottom: 39px;
      }
    }

    ul{
      margin-bottom: 103px;

      :last-child{
        margin-bottom: 0;
      }

      li{
        padding: 0 20px;

        .faq-li-content {
          max-width: 720px;
          margin: 0 auto 24px auto;

          .question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 88px;
            padding: 20px 30px;

            background: #FFFFFF;
            border: 1px solid $grey4;
            border-radius: 12px;

            h3 {
              margin-bottom: 0;
              margin-right: 15px;
            }

            //arrow
            div {
              display: flex;
              justify-content: center;
              align-items: center;

              min-height: 48px;
              min-width: 48px;
              background: $blue;
              border-radius: 90%;
              cursor: pointer;
            }

            // Opened
            &.opened {

              border-bottom: none;
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;

              h3 {
                color: $red;
              }

              //arrow
              div {
                transform: rotate(180deg);
                background: $red;
              }
            }
          }
        }

        .answer{
          padding: 0 30px 48px 30px;
          background: #FFFFFF;
          border: 1px solid $grey4;
          border-top: none;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;

          p{
            margin-right: 78px;

            @media only screen and (max-width: $max-md) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}




.s4-project{

  background: $gradRedLeft;
  background: linear-gradient(135deg, $gradRedLeft 40%, $gradRedRight 100%);

  .s4-project-content {
    max-width: 1050px;
    padding: 131px 40px 0 40px;
    margin: 0 auto;
    @media only screen and (max-width: $max-xs){
      padding: 100px 40px 0 40px;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 51px;
      color: white;
      @media only screen and (max-width: $max-xs){
        font-size: 36px;
      }
    }

    div {
      display: flex;
      justify-content: space-between;

      :first-child{
        margin-right: 30px;
      }

      @media only screen and (max-width: $max-xs){
        flex-direction: column;

        :first-child{
          margin-right: 0;
          margin-bottom: 40px;

        }
      }

      p{
        margin-bottom: 192px;
        color: white;
        max-width: 470px;

        @media only screen and (max-width: $max-xs){
          margin-bottom: 150px;
          font-size: 16px;
        }
      }
    }
  }
}