.s1{
  background: $homeBg1;

  .s1-content{
    position: relative;

    height: 861px;
    background: $gradBlueLeft;
    background: linear-gradient(135deg, $gradBlueLeft 40%, $gradBlueRight 100%);
    @media only screen and (max-width: $max-md-extra) {
      height: 750px;
    }


    img{
      position: absolute;
      right: 191.7px;
      top: 96px;

      @media only screen and (max-width: $max-xl) {
        top: 106px;
        height: 450px;
      }
      @media only screen and (max-width: $max-lg) {
        right: 61.7px;
      }
      @media only screen and (max-width: $max-md-extra) {
        display: none;
      }
    }


    .s1-left{
      position: relative;
      left: 105px;
      top: 191px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 586px;
      height: 346px;

      @media only screen and (max-width: $max-xl) {
        top: 171px;
      }
      @media only screen and (max-width: $max-lg) {
        left: 45px;
      }
      @media only screen and (max-width: $max-md-extra) {
        left: 50%;
        transform: translateX(-50%);
        top: 70px;
        align-items: center;
      }
      @media only screen and (max-width: $max-sm) {
        top: 55px;
      }
      @media only screen and (max-width: $max-xs) {
        top: 40px;
      }


      h2{
        color: white;
        margin-bottom: 27px;
        @media only screen and (max-width: $max-sm) {
          transform: scale(0.8);
        }
        @media only screen and (max-width: $max-xs) {
          transform: scale(0.7);
          margin-bottom: 0;
        }


        span{
          color: $red;
        }
      }

      p{
        color: white;
        @media only screen and (max-width: $max-md-extra) {
          text-align: center;
        }
        @media only screen and (max-width: $max-xs){
          margin-bottom: 40px;
        }
        @media only screen and (max-width: $max-sm) {
          transform: scale(0.8);
        }
        @media only screen and (max-width: $max-xs) {
          margin-bottom: 30px;
        }
      }

      .s1-left-buttons{

        @media only screen and (max-width: $max-md-extra) {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        @media only screen and (max-width: $max-xs){
          max-width: 210px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
        }

        button{
          transform: scale(1);
          @media only screen and (max-width: $max-md-extra){
            width: 210px;
          }
        }

        .add-button{
          margin-left: 20px;
          @media only screen and (max-width: $max-xs){
            margin-left: 0;
            margin-top: 10px;
          }
        }
      }
    }


    .s1-bottom{
      position: absolute;
      bottom: 48px;
      width: 100%;

      @media only screen and (max-width: $max-xl) {
        bottom: 150px;
      }
      @media only screen and (max-width: $max-md-extra) {
        bottom: 215px;
        transform: translateX(-15px);
      }


      ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 105px;
        height: 56px;

        @media only screen and (max-width: $max-xl) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          justify-items: center;
          gap: 15px;
        }
        @media only screen and (max-width: $max-md-extra) {
          display: flex;
          flex-direction: column;
          transform: scale(0.8);
        }


        li{
          display: flex;
          align-items: center;
          @media only screen and (max-width: $max-xl) {
            width: 350px;
          }

          .s1-number{
            display: flex;
            align-items: center;
            justify-content: center;

            min-height: 56px;
            min-width: 56px;
            background: rgba(255,255 ,255 , 0.16);
            border-radius: 90%;
            margin-right: 20px;


            span{
              transform: translateY(2px)translateX(1px);

              font-family: 'Soleil', sans-serif;
              font-size: 24px;
              font-weight: 300;
              color: white;
            }
          }

          p{
            font-size: 16px;
            margin-bottom: 0;
            color: white;
          }
        }
      }
    }
  }
}
