$min-sm: 576px;
$min-md: 768px;
$min-lg: 992px;
$min-lg-extra: 1200px;
$min-xl: 1450px;
$min-xxl: 1650px;

$max-xs: ($min-sm - 1px);
$max-sm: ($min-md - 1px);
$max-md: ($min-lg - 1px);
$max-md-extra: ($min-lg-extra - 1px);
$max-lg: ($min-xl - 1px);
$max-xl: ($min-xxl - 1px);

//@media only screen and (max-width: $max-md){}